<!DOCTYPE html>
<html>
<head><title>waste management</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>
.navi
{
    overflow: hidden;
  background-color:indianred;
  background-size:40px;
}
.navi a
{
	float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  }
  .navi a:hover 
  {
  background-color:gray;

  color: black;
}
  
h1
{
border-style:solid;
border-width:1px;
text-align:center;
color:white;
}
.container{
    display: flex;
}

.space
{
    margin-left:20px;
}

</style>

</head>
<body background="static/images/bg7.jpg">
<div>
 <b> <h1 align="center"><img src="https://storage007005.blob.core.windows.net/images/bg7.jpg" height="45px" width="50px;" />&nbsp;&nbsp; SMART WASTE MANAGEMENT</h1></b>
  </div>
  
  <div class="navi">
      <a href="http://127.0.0.1:5001/home"><span class="glyphicon glyphicon-home" ></span> HOME</a>
  	    <a href="http://127.0.0.1:5001/map"><img src="static/images/drytruck.PNG" height="23px" width="40px" />&nbsp;DRY WASTE</a>
      <a href="http://127.0.0.1:5001/map1"><img src="static/images/wettruck.PNG" height="23px" width="40px"/>&nbsp;WET WASTE</a>
    
   </div>
  <div ba></div>  <br/>
    <br/>
    <br/>
    <br/>

    <br />
    <br/>

    
    <div class="container">
        <div class="space">

        </div>
<div class="space">

        </div>
        
            <div  class="jumbotron col-sm-6 text-center" style="height:80; width:40;">
                <center>
                    <a href=""><img src="static/images/dry.PNG" alt="dry" height="120" width="120"></a>

                    <a href="/dry_chart"><h3>DRY WASTE</h3></a>
                </center>
            </div>
        <div class="space">

        </div>
        
        <div  class="jumbotron col-sm-6 text-center" style="height:80; width:40;">
            <center>
                <a href="/wet_chart"><img src="static/images/wet.PNG" alt="wet" height="100" width="100"></a>

                <a href="/wet_chart"><h3>WET WASTE</h3></a>
            </center>
        </div>
    </div>

 
  </body>
  </html>
